.c-feature {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: rem(30px 20px);
  border-radius: 12px;
  background: linear-gradient(45deg, #2a4d67, #325b7a);
  box-shadow: 20px -20px 60px #284861,
              -20px 20px 60px #366283;
  text-align: center;

  &:before {
    display: block;
    position: absolute;
    top: -118px; left: -32px; @mixin bp md {
    top: -192px; left:   3px; }
    font-size: calc(var(--s6) * 4);
    font-weight: 700;
    line-height: 1;
    color: hsla(0, 0%, 100%, .03);
    z-index: -1;
  }

  &:nth-of-type(1):before { content: "w"; }

  &:nth-of-type(2):before { content: "G"; }

  &:nth-of-type(3):before { content: "w"; }

  &:nth-of-type(4):before { content: "s"; }

  &__title {
    font-size: var(--s3);  @mixin bp md {
    font-size: var(--s2);}
    font-weight: 300;
    line-height: var(--line-height-sm);
    font-family: var(--font-family-special);
    @mixin bp md { letter-spacing: var(--letter-spacing-n-04); }
  }

  &__desc {
  /* === Layout fallback for old browsers === */
  @mixin bp md   { font-size: rem(15px);}
  /* === */

  /* === Layout fallback override === */
  @supports (display: grid) {
    @mixin bp md   { font-size: initial;}
  }
  /* === */

    font-weight: 200;
    text-align: start;
  }
}