.c-features {
  /* === CSS Grid fallback for old browsers === */
    @mixin bp md { margin-right: calc(var(--layout-gap) * -1); }
    display: flex;
    flex-wrap: wrap;
  /* === */

  @supports (display: grid) {
  /* === fallback override === */
    margin-right: 0;
  /* === */

    display: grid;
    grid-gap: var(--layout-gap);

    @mixin bp md {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.c-feature {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:before {
    display: block;
    position: absolute;
    top: -118px; left: -32px; @mixin bp md {
    top: -192px; left:   3px; }
    font-size: calc(var(--s6) * 4);
    font-weight: 700;
    line-height: 1;
    color: hsla(0, 0%, 100%, .03);
    z-index: -1;
  }

  &:nth-of-type(1):before { content: "w"; }

  &:nth-of-type(2):before { content: "G"; }

  &:nth-of-type(3):before { content: "w"; }

  &:nth-of-type(4):before { content: "s"; }

  /* === CSS Grid fallback for old browsers === */
  &:not(:last-child) { margin-bottom: var(--layout-gap); }

  @mixin bp md   {
    &:nth-of-type(3) { margin-bottom: 0; }

    margin-right: var(--layout-gap);
    flex-basis: calc(50% - var(--layout-gap));
    max-width: calc(50% - var(--layout-gap));
  }
  /* === */

  @supports (display: grid) {
    /* === CSS Grid fallback override === */
    @mixin bp md {
      margin: 0 !important;
      max-width: initial;
    }
    /* === */
  }

  padding: rem(30px 20px);
  border-radius: 12px;
  background: linear-gradient(45deg, #2a4d67, #325b7a);
  box-shadow: 20px -20px 60px #284861,
              -20px 20px 60px #366283;
  text-align: center;

  &__title {
    font-size: var(--s2);
    font-weight: 300;
    line-height: var(--line-height-sm);
    font-family: var(--font-family-special);
    @mixin bp md { letter-spacing: var(--letter-spacing-n-04); }
  }

  &__desc {
  /* === Layout fallback for old browsers === */
  @mixin bp md   { font-size: rem(15px);}
  /* === */

  /* === Layout fallback override === */
  @supports (display: grid) {
    @mixin bp md   { font-size: initial;}
  }
  /* === */

    font-weight: 200;
    text-align: start;
  }
}