/* ============================================================================
   #BUTTONs (GLOBAL)
   ========================================================================= */

/**
 * Placeholder.
 */

%button-reset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: unset;
  text-decoration: none;
}

//==============================================================================
// Buttons
//==============================================================================

  $button-background: var(--color-brand-primary);
  $button-background-hover: color-mod(var(--color-brand-primary) blackness(65%));
  $button-color: #ffffff;
  $button-font-weight: 600;
  $button-font-family: var(--font-family-plain);
  $button-font-size: rem(16px);
  $button-border-width: 1px;
  $button-border-style: solid;
  $button-border-color: $button-background;
  $button-border-radius: var(--border-radius-global);
  $button-text-transform: none;

  // Accent buttons
  $accent-button-background: var(--color-text-global);
  $accent-button-color: #ffffff;
  $accent-button-color-hover: #ffffff;

  // Muted Buttons
  $muted-border: 1px solid var(--color-text-global);
  $muted-border-hover: 1px solid color-mod(var(--color-text-global) blackness(30%));
  $muted-background: transparent;
  $muted-background-hover: transparent;
  $muted-color: color-mod(var(--color-text-global) blackness(30%));
  $muted-color-hover: color-mod(var(--color-text-global) blackness(50%));

  // Round Buttons
  $round-buttons: 40px;


// All Button Selectors
$buttons: .c-button, a.c-button, button, [type=submit], [type=reset], [type=button];


// Main button styling
%buttons {
  -webkit-appearance: none;
  display: inline-block;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  background: $button-background;
  color: $button-color;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  padding: rem(12px 20px);
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

// Buttons on hover
%buttons-hover {
  border: $button-border-width $button-border-style $button-background-hover;
  background: $button-background-hover;
  color: $button-color;
}

// Buttons on focus
%buttons-focus {
  border: $button-border-width $button-border-style $button-background-hover;
  background: $button-background-hover;
  color: $button-color;
}

// Apply styles to .button class, button element, and button-based inputs
$(buttons) {
  @extend %buttons;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    @extend %buttons-hover;
  }

  &:focus,
  &:active {
    @extend %buttons-focus;
  }
}

// Secondary button color
.accent-button,
a.accent-button {
  color: $accent-button-color;
  border: 1px solid $accent-button-background;
  background: $accent-button-background;

  &:hover,
  &:focus,
  &:active {
    color: $accent-button-color-hover;
    border: 1px solid darken($accent-button-background, 10%);
    background: darken($accent-button-background, 10%);
  }
}

// Muted buttons
.muted-button,
a.muted-button {
  background: $muted-background;
  border: $muted-border;
  color: $muted-color;

  &:hover,
  &:focus,
  &:active {
    color: $muted-color-hover;
    border: $muted-border-hover;
    background: $muted-background-hover;
  }
}

// Round buttons
.round-button,
a.round-button {
  border-radius: var(--border-radius-global);
}

// Square buttons
.square-button,
a.square-button {
  border-radius: 0;
}

// Full width buttons (block level)
.full-button,
a.full-button {
  display: block;
  width: 100%;
}
