/* ============================================================================
   Animations mixins (GLOBAL)
   ========================================================================= */

/**
 * Animations mixins for state classes.
 */


/* Animate from scale(1) to scal(1.5) */

@define-mixin animation-fade-in-with-scale {
  opacity: 0;
  transform: scale(1.5);
  transition: var(--transition-global);
  visibility: hidden;

  &.is-visible {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
