@define-mixin truncate($limit: 100%, $important: false) {

    @if ($important == "important") {
        $important: unquote("!important");
    } @else {
        $important: null;
    }

    max-width: $limit $important;
    white-space: nowrap $important;
    overflow: hidden $important;
    text-overflow: ellipsis $important;
}