@define-mixin at $breakpoint: Small {

  @if $breakpoint == xSmall {
    @media (max-width: 529px) {
      @mixin-content;
    }
  }

  @else if $breakpoint == Small {
    @media (min-width: 530px) {
      @mixin-content;
    }
  }

  @else if $breakpoint == Medium{
    @media (min-width: 768px) {
      @mixin-content;
    }
  }

  @else $breakpoint == Large {
    @media (min-width: 1010px) {
      @mixin-content;
    }
  }

}


@define-mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
    
    @supports (display: grid) and (display: flex) { display: none }
  }
}