.l-row {
  @mixin clearfix;
  display: flex;
  flex-wrap: wrap;

  &__column {

    &:first-child {
      width: calc((100% / 3));
      flex: 0 0 calc((100% / 3));
    }

    &:last-child {
      width: calc(((100% / 3) * 2) - 65px);
      flex: 0 0 calc(((100% / 3) * 2) - 65px);
      margin-inline-start: 65px;
    }
  }
}

