/* ==========================================================================
   #CONTAINER (GLOBAL)
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 * the outer container for components and it usually provides a fixed width.
 */

 .o-container {
  width: 100%;
  max-width: var(--container-width-sm);
  padding: 0 var(--container-padding-h-sm);
  margin: 0 auto;

  @mixin bp lg {
    max-width: var(--container-width-lg);
    padding: 0 var(--container-padding-h-lg);
  }
}
