/* ==========================================================================
   #CONTAINER (GLOBAL)
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 * the outer container for components and it usually provides a fixed width.
 */

.o-container {
  width: 100%;
  max-width: var(--container-width);
  padding: 0 var(--s1);
  margin: 0 auto;
}
