/* ============================================================================
   CONTAINER (GLOBAL)
   ========================================================================= */

.o-container {
  margin: 0 rem(16);

  @include mq($from: medium) {
    max-width: rem(575);
  }

  .s-optin--thankyou & {
    max-width: 280px;

    @include mq($from: medium) {
      max-width: rem(370);
    }
  }

  .s-frontend30 & {
    max-width: rem(1140);

    @include mq($from: 1090) {
      margin: 0 auto;
    }
  }

  .s-membership & {
    max-width: rem(1090);

    @include mq($from: 1090) {
      margin: 0 auto;
    }
  }

  .s-membership .c-mem-nav & {
    margin: 0 rem(20);
    max-width: none;
  }
}

.o-container--medium {
  margin: 0 auto;
  width: rem(600);
}

.o-container-medium2 {
  @include mq($from: medium) {
    margin: 0 auto;
    width: rem(680);
  }
}

.o-container--large {
  max-width: rem(1400) !important;
}
