.p-footer {

  //background-color: var(--color-brand-primary);
  background: url(../../assets/images/testimonials-bg.jpg) top no-repeat;
  background-size: cover;
  color: #fff;
  padding: var(--s1) 0;


  &__copyrights-text {
    font-weight: 200;
    font-size: calc(var(--font-size-global) - rem(1px));

    @mixin bp as {
      max-width: 52ch;
      margin-inline: auto;
    }

    [class*=c-button] {
      margin: var(--s1) 0 0 0;
      @mixin bp md { margin: 0 0 0 var(--s1); }
    }
  }
}
