.p-hero {
	position: relative;
	border-bottom: 10px solid var(--color-brand-primary);
	box-shadow: var(--box-shadow-global);

	&__content {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%) scale(.85); @mixin bp sm {
		transform: translate(-50%, -50%); }
		@mixin bp as { padding-top: rem(100px); }
	}

	&__title,
	&__subtitle {
		font-weight: 300;
		color: var(--color-brand-primary);
	}

	&__title {
		font-size: calc(var(--s4) + var(--s0));
		font-weight: 500;

	}

	&__subtitle {
		font-size: var(--s3);
		font-weight: 300;
	}

	&__description {
		color: #ffffff;
		font-weight: 100;
		font-size: calc(var(--s1) + var(--s-3));
		margin-inline: auto;
		text-shadow: 2px 2px 0 hsl(0, 0%, 0%, 0.1);

		@mixin bp md { max-width: rem(480px); }
	}
}
