.c-section {
  padding-block: 4.5rem;

  &--blue {
    background-color: $mainBlue;
    color: #fff;
  }

  &__title, &__subtitle {
    font-weight: 300;

  }

  &__subtitle--orange {
    color: $mainOrange;
  }

  &__subtitle--blue {
    color: $mainOrange;
  }

  &__subtitle--white {
    color: $white;
  }

}

