.c-section--our-beginning {
  .c-section { //* A pseudo selector had been written here just for BEM logic *\\
    &__title {
      font-size: 2.875rem;
      color: $mainBlue;
    }

    &__subtitle {
      font-size: 1.875rem;
      color: $mainOrange;
      max-width: 500px;
      margin-top: 1em;
      margin-bottom: 1.6em;
    }

    &__title,
    &__subtitle {
      font-weight: 100;

      strong {
        font-weight: 400;
      }
    }
  }

  .l-row {
    margin-top: 3.875rem;

    h2 {
      color: $mainBlue;
      margin-bottom: .83em;
    }

    p {
      line-height: 1.65;
      font-weight: 300;
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 1.6em;
      }
    }
  }
}
