.list {
  margin: 0;
  padding: 0;

  &--inline {
    /* display: flex to remove spaces between li items */
    @supports (display: flex) { display: flex } 
    li {
      display: inline-block; /* Flexbox fallback */
      @supports (display: flex) { display: list-item }
    }
  }

  &--inline-atSmall {
    @mixin at Small {
      @supports (display: flex) { display: flex }
      li {
        display: inline-block;
        @supports (display: flex) { display: list-item }
      }
    }
  }

  &--inline-atMedium {
    @mixin at Medium {
      @supports (display: flex) { display: flex }
      li {
        display: inline-block;
        @supports (display: flex) { display: list-item }
      }
    }
  }

  &--inline-atLarge {
    @mixin at Large {
      @supports (display: flex) { display: flex }
      li {
        display: inline-block;
        @supports (display: flex) { display: list-item }
      }
    }
  }

  &--pipe-separator {
    li + li {
      &::before {
        content: "|";
        margin-inline: 10px;
      }
    }
  }

  &--no-bullets { /* Remove li Bullets with zero-width space for accessability stuff */
    li {
      list-style-type: none;
      
      &::before { /* remove bullets */
        content: "\200B"; /* add zero-width space */
        position: absolute;
      }
    }
  }

  &--no-gutters { 
    font-size: 0; /* Remove spaces between li items */

    li { font-size: initial }
  }

}



